.form-group input {
    max-height: 65px;
    max-width: 350px;
    font-size: 2.5rem;
    border: solid #FFD216 3px;
    background: transparent;
    color: white;
    padding-top: 0px !important;
    font-weight: 600;
}

.form-group input:focus {
    border: solid #FFD216 3px;
    background: transparent;
    color: white;
}

.form-group h3 {
    font-size: 2rem;
}

.form-group input.invalid {
    border: solid #f93737 3px;
}

.form-group .error-msj {
    color: #f93737;
    font-size: 1.3rem;
    font-weight: 600;
}

.hero-container-b div.pin-input-container {
    min-width: 50%!important
}

.hero-container-b h3.pin-h3 {
    min-width: 18%!important
}

@media (max-width: 800px) {
    .form-group input {
        max-width: 200px;
    }
}

.pin-location span {
    color: #FFD216;
    cursor: pointer;
}